body {
    height: 100%;
    margin: 3%;
    font-family: 'Lato-Regular';
    background: #060001;
    display: flex;
}
@font-face {
    font-family: "Lato-Regular";
    src: url("fonts/Lato-Regular.ttf");
}
h1 {
    text-align: center;
    color: #dddddd;
    font-size:2.5vw;
}
h2 {
    text-align: center;
    color: #cccccc;
    font-size:2vw;
}
h3 {
    text-align: center;
    color: #aaaaaa;
    font-size:1.5vw;
}
h4 {
    color: #eeeeee;
    font-size:1.5vw;
}
#info_view {
    height: 95vh;
    width: 35%;
}
#title_view {
    height: 23vh;
    width: 100%;
}
#game_players {
    height: 70vh;
    width: 100%;
    margin-left: 3%;
  }
.player_row{
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}
.row_circle {
    background: #ddddff;
    border-radius: 10px;
    height: 100%;
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

.player_name {
    width: 40%;
    margin-left: 12px;
    display: flex;
    align-items: center; 
}
.row_score {
    background: #ddddff;
    border-radius: 10px;
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.row_score h4{
    color: #222222;
}

  #game_board {
    height: 95vh;
    width: 60%;
  }
  
  section {
      height: 100%;
      align-content: flex-end;
  }
  #game_board section div {
    float: right;
    height: 21%;
    padding-right: 21%;
    margin:1%;
    border-radius: 25px;
    border-width: 1%;
    background: #ddddff;
}
