body {
    height: 100%;
    margin: 3%;
    font-family: 'Lato-Regular';
    background: #A7F2FB;
    display: flex;
}
@font-face {
    font-family: "Lato-Regular";
    src: url("fonts/Lato-Regular.ttf");
}
h1 {
    text-align: center;
    color: #333333;
    font-size:2.5vw;
}
h2 {
    text-align: center;
    color: #555555;
    font-size:2vw;
}
h3 {
    text-align: center;
    color: #444444;
    font-size:1.5vw;
}
#info_view {
    height: 95vh;
    width: 35%;
}
#title_view {
    height: 23vh;
    width: 100%;
}
#game_players {
    height: 70vh;
    width: 100%;
    margin-left: 3%;
  }
.player_row{
    height: 7vh;
    width: 100%;
    display: flex;
}
.player_row div{
    width: 15%;
    border-radius: 10px;
    border-width: 1%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-circle div{
    position: absolute;
   background: #e34567;
   border-radius: 50%;
   height: 100%;
   width: 100%;
   top: 50%;
   left: 50%;
}
.circle {
    background: white;
    border-radius: 10px;
    height: 100%;
    width: 10%;
    position: relative;
  }
  .circle div{
    border-radius: 50%;
    width: 60%;
    padding-bottom: 60%;
    background: red;
  }
.player_row h4{
    font-size:1.5vw;
    width: 70%;
    margin-left: 12px;
    display: flex;
    align-items: center; 
}
.player_points h4{
    display: flex;
    justify-content: center;
    align-items: center; 
}

  #game_board {
    height: 95vh;
    width: 60%;
  }
  
  section {
      height: 100%;
      align-content: flex-end;
  }
  #game_board section div {
    float: right;
    height: 21%;
    padding-right: 21%;
    margin:1%;
    border-radius: 25px;
    border-width: 1%;
    background: white;
}
