body {
    background-color: #aaaaff;
}
h1 {
    text-align: center;
    color: blue;
}
h2 {
    text-align: center;
    color: red;
}
.text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size:6em;
    color: #ddd;
}
